<footer id="myFooter">
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <h5>Get started</h5>
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Login</a></li>
                    <li><a href="#">Sign up</a></li>
                </ul>
            </div>
            <div class="col-sm-4">
                <h5>About us</h5>
                <ul>
                    <li><a href="#">Contact us</a></li>
                    <li><a href="#">FAQS</a></li>
                </ul>
            </div>
            <div class="col-sm-4 info">
                <h5>Information</h5>
                <p> Lorem ipsum dolor amet, consectetur adipiscing elit. Etiam consectetur aliquet aliquet. Interdum et malesuada fames ac ante ipsum primis in faucibus. </p>
            </div>
        </div>
    </div>
</footer>