<footer id="myFooter">
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <h5>Get started</h5>
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Sign up</a></li>
                    <li><a href="#">Login</a></li>
                </ul>
            </div>
            <div class="col-sm-4">
                <h5>About us</h5>
                <ul>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Contact us</a></li>
                    <li><a href="#">FAQS</a></li>
                </ul>
            </div>
            <div class="col-sm-4 info">
                <h5>Information</h5>
                <p> Written by <a href="https://craigeastwood.com">Craig Eastwood</a> as part of the Udemy Ruby on Rails course by Mashrur Hussain.</p>
            </div>
        </div>
    </div>
</footer>